

/*This will be my CSS style document after things are finalized*/
      
@font-face{
      src: url(HTOWERT.TTF) format('truetype');
      font-family: hightower-text;
}
body {
      background-color: black;
}     
      
    h1 {
      color: black;
      background-color: rgb(255, 192, 0);
      font-size: 50px;
      text-align: center;
      margin: 0px;
      font-family: hightower-text;
    }
    div {
      display: inline;
      background-color: black;
      margin: 0px;
      font-family: hightower-text;
      text-decoration: none;
      color: rgb(255, 192, 0);
    }
